<div id="help" class="box">
	<div class="row-fluid">
		<div class="span8">
			<h1>Pomoc:</h1>

			<p>
				Jeśli masz pytania spróbuj odnaleźć odpowiedz w faq dostępnym pod adresem {{ link_to('http://cmsss.pl/faq', 'cmsss.pl/faq') }},
				jeśli nie znalazłeś odpowiedzi na swoje pytanie skontaktuj się z administratorem.
			</p>
		</div>

		<div class="span4">
			<h2>Kontakt:</h2>

			<h6>Damian Domański</h6>
			<ul>
				<li><i>Telefon:</i> 791 764 820</li>
				<li><i>Email:</i> <a href="bok@cmsss.pl">bok@cmsss.pl</a></li>
			</ul>
		</div>
	</div>

</div>
