<div id="restorePassword" class="box">
	<h1>Odzyskaj hasło:</h1>

	{{ form( null, 'method': 'post') }}
		{{ restorePasswordForm.render('email') }}

		{{ restorePasswordForm.render('restore') }}
	{{ endForm() }}
</div>
