<section id="menu">
	<aside class="user">
		<img class="avatar" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash4/c28.28.345.345/s160x160/208855_148847828584099_1416698149_n.jpg" alt="#">

		<h3 class="nick">Load</h3>
		<h4 class="rang">Administrator</h4>
	</aside>
	
	<nav>
		<ul>
			<li><a href="#">Pulpit</a></li>
			<li><a href="#">Newsy</a></li>
		</ul>
	</nav>
</section>

<section id="centent">
	{{ content() }}
</section>